# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Build output
public/css/main.css

# VSCode
.vscode/

# Others
coverage/
dist/ 